{{ 'bundle.meow.js' | asset_url | script_tag }}

<meow-section>
  <div class="count">0</div>
  <div class="count">0</div>
  <div class="count">0</div>
  <div class="count">0</div>
  <div class="double"></div>
  <button>add</button>
  <p class="text-2xl">meow</p>
  <div class="bg-amber-300">
    <h1>meow</h1>
  </div>
</meow-section>
{% schema %}
  {
    "name": "meow",
    "class": "meow",
    "settings": [],
    "presets": [
      {
        "name": "meow"
      }
    ]
  }
{% endschema %}

